*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
[v-cloak]{
    display: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.main {
    height: calc(100vh - 100px);
    width: 100%;
}
.main .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container div{
    width: 80%;
    padding: 20px;
}
.exchange{
    display: flex;
    justify-content: space-evenly;
}
.exchange div{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.exchange div input{
    font-size: 16px;
}
.exchange div label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exchange div label span::before{
    content: '';
}
.exchange div label span{
    font-size: 13px;
    font-weight: bold;
    position: relative;
}
/* profile page */
.container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .exchange{
    width: 100%;
}
.container .details{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #f1f1f1;
}
.container .details ul{
    list-style: none;
    position: relative
}
.container .details ul:first-child::after{
    content: "";
    position: absolute;
    height: 100%;
    border: 1px dashed black;
    top: 0%;
    left: 200%;
}
.container .details ul li{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 16px 0;
    display: flex;
    align-items: center;
}
.container .details ul li button{
    margin-left: 10px;
    padding: 2px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.container .details ul li button:hover{
    border: none;
    background: green;
    color: white;
}
/* portfolio page */
.main{
    display: flex;
    flex-direction: row-reverse; 
}
.main aside{
    padding: 0;
    margin: auto 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgb(226 252 255);
}
.main div:last-child:not(.input){
    padding: 0;
    width: 95%;
}
aside h2{
    padding: 10px 0;
}
.top ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}
.top ul:first-child li{
    cursor: pointer;
}
.top ul li{
    margin: 0 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top ul .add, .top ul .remove{
    cursor: pointer;
    padding: 5px 10px;
    background-color: #9e9e9e;
    border-radius: 6px;
}
aside .input{
    display: none;
    flex-direction: column; 
    /* margin: auto; */
    padding: 0;
    width: 80%;
}
aside .input input{
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
}
/* start table  */
table{
    width: 70%;
    margin: auto;
}
table thead{
    height: 50px;
    border: 2px solid black;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
table thead tr, table tbody tr{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
}
table tbody{
    border: 2px solid black;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
table tbody tr{
    margin: 10px 0;
}
table tbody tr td{
    display: flex;
    justify-content: center;
    align-items: center;
}
table tbody tr td img{
    height: 30px;
    margin-right: 5px;
}
table tbody tr td:last-child button{
    border: 1px solid black;
    background-color: rgb(141, 77, 205);
    color: white;
    cursor: pointer;
    border-color: rgb(141, 77, 205);
    font-weight: 600;
    border-radius: 6px;
    padding: 5px 10px;
}
/* canvas */
main div{
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    margin-left: 20px;
}
#myChart{
    height: 100%;
    width: 100%;
}

